@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply bg-white md:bg-white relative text-black  md:absolute  px-[2.5rem]  py-[0.7rem]  font-bold;
}

.btnBuyGreen {
  @apply px-[1rem] w-[9rem] bg-[#23A6F0] py-[0.5rem] md:bg-[#2DC071] md:py-[0.7rem] md:px-[0.7rem] md:w-[8rem] rounded-md font-bold text-white;
}

.btnTransparent {
  @apply px-[1rem] w-[9rem]   bg-white  md:text-[#2DC071] py-[0.5rem] md:bg-white md:py-[0.7rem] md:px-[0.7rem] md:w-[8rem] rounded-md font-bold text-white;
}

body {
  overflow-x: hidden;

  margin: 0;
}

.btnBlueWithWhiteText {
  @apply bg-[#23A6F0] w-[6rem] text-white;
}

.shine-border {
  position: relative;
  padding: 3px;
  border-radius: 8px;
  background-color: #1f485b;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.shine-border::before {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}

.shine-border::after {
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-radius: 16px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.scrollable-div {
  @apply w-80 h-48 overflow-auto;
}

.scrollable-div::-webkit-scrollbar {
  width: 8px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner-container {
  display: flex;
  align-items: center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}

.catAreaBtn {
  @apply text-left;
}

.catAreaBtn:hover {
  text-decoration: underline;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.product-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem; 
}

.product-item {
  flex: 1 1 calc(25% - 1rem);
  box-sizing: border-box; 
}